#Если транзакция была в USD или EUR, происходит обращение к внешнему API
#для получения текущего курса валют и конвертации суммы операции в рубли.
#Для конвертации валюты воспользуется:
#Exchange Rates Data API: https://apilayer.com/exchangerates_data-api.


API_KEY=your_api_key_here